.formContainer {
    height: calc(100vh - 10vh);
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10% 0;
    border: 2px solid red;
    color: white;
}

form {
    [type="text"],
    [type="submit"] {
        height: 50px;
        margin: 2% 0; 
        font-family: $bodyFont;  
    }
    
    [type="text"] {
    background: pink;
    min-width: 50%;
    background: $primaryColour;
    padding-left: 15px;
    border: 2px solid $primaryAccent;
    color: $secondaryColour;
    letter-spacing:2px;
    }

    [type="submit"] {
        // width: 15%;

       
    }
}
