body {
    height: 100vh;
    background: $primaryColour;
    color: $secondaryColour;
    font-family: $bodyFont;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.wrapper {
    max-width: 1600px;
    margin: 0 10%;
    @include fontSize(20);
}

a {
    text-decoration: none;
}

.button {
    background: $primaryAccent;
    color: $primaryColour;
    text-transform: uppercase;
    transition: $transitionDetail;
    border-radius: 15px;
}

.button:hover { 
    background-color: $secondaryAccent;
}