header {
    padding-top: 10%;
    display: flex;
    align-items: center;
}

h1 {
    font-family: $displayFont;
    @include fontSize(55);
    @include lineHeight(55);
    letter-spacing: 2px;
    margin: 0;
}

//media query styling begins here
@include phoneLarge {
    header {
        padding-top: 5%;
    }
}