header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:50vh;
}

h1 {  
    min-width: 100%;
    text-align: center;
    font-family: $displayFont;
    @include fontSize(40);
    @include lineHeight(40);
    letter-spacing: 2px;
    margin: 0;
}

h2 {
    padding: 10px 0 25px 0;
}
//general header styling ends here

//media query styling begins here
@include phoneLarge {
    // header {
    //     padding-top: 25%;
    // }
}

@include tabletSmall {
    h1 {
        @include fontSize(60);
    }
}