header {
    border: 2px solid purple;
    height: 10vh;
    display: flex;
    align-items: center;
}

h1 {
    font-family: $displayFont;
    @include fontSize(42);
    @include lineHeight(42);
    letter-spacing: 2px;
    margin: 0;
    border: 2px solid $primaryAccent;
}