.weatherDetails {
    text-align: center;
}

.displayWeather,
.displayOutfit {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayOutfits {
  display: flex;
  flex-direction: column;
  img {
    height: 300px;
  }
}

#generate {
  display: none;
  margin-top: 25px;
  padding: 15px;
}

.displayOutfit p {
    @include fontSize(18);
    display: none;
    width: 100%;
    text-align: right;
    margin: 0;
}
