.weatherDetails {
    text-align: center;
    border: 2px solid orange;
}

.displayWeather,
.displayOutfit {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayOutfits {
  display: flex;
  flex-direction: column;
  border: 2px solid pink;
  
  img {
    height: 300px;
    border: 2px solid fuchsia;
  }
  
}

#generate {
  display: none;
  margin-top: 25px;
  padding: 15px;
  border: 2px solid green;
}

.displayOutfit p {
    @include fontSize(18);
    display: none;
    width: 100%;
    text-align: right;
    margin: 0;
    border: 2px solid yellow;
}
//general displayWeather & displayOutfit styling ends here

//media queries begin here
 @include tabletSmall {
   .displayOutfits {
     flex-direction: row;

     img {
       padding: 0 3%;
     }
  }
} //tabletSmall media query ends here
