article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-bo; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skipLink:focus {
  left: 0; }

html {
  scroll-behavior: smooth;
  font-size: 125%; }

body {
  height: 100vh;
  background: white;
  color: black;
  font-family: "Karla", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.wrapper {
  max-width: 1600px;
  margin: 0 10%;
  padding-top: 25%;
  font-size: 20px;
  font-size: 1rem; }

main.wrapper {
  padding-top: 0; }

a {
  text-decoration: none; }

#submitButton,
#generate {
  width: 150px;
  height: 50px; }

.button {
  text-align: center;
  background: #4d829f;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-radius: 10px; }

.button:hover {
  background-color: #377f7c; }

@media (min-width: 900px) {
  .wrapper {
    padding-top: 10%; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

h1 {
  min-width: 100%;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-size: 2rem;
  line-height: 64;
  line-height: 3.2rem;
  letter-spacing: 2px;
  margin: 0; }

@media (min-width: 600px) {
  h1 {
    font-size: 60px;
    font-size: 3rem; } }

.wrapper form {
  padding-top: 0; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 0 10% 0; }
  form [type="text"],
  form [type="submit"] {
    height: 50px;
    margin: 2% 0;
    font-family: "Karla", sans-serif; }
  form [type="text"] {
    min-width: 50%;
    border: 2px solid #4d829f;
    border-radius: 10px;
    background: white;
    padding-left: 15px;
    text-transform: lowercase;
    color: black;
    letter-spacing: 2px; }
    form [type="text"]::-webkit-input-placeholder {
      color: black; }
    form [type="text"]:-ms-input-placeholder {
      color: black; }
    form [type="text"]::-ms-input-placeholder {
      color: black; }
    form [type="text"]::placeholder {
      color: black; }
  form [type="text"]:focus {
    background: #4d829f;
    color: white; }
  form [type="submit"] {
    border: none; }
  form [type="submit"]:focus {
    background: #377f7c; }

.weatherDetails {
  text-align: left; }
  .weatherDetails span {
    color: #4d829f; }

.displayWeather,
.displayOutfit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.displayOutfits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .displayOutfits a {
    position: relative;
    margin: 25px; }
    .displayOutfits a .overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
      background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
      background: -o-linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
      background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%); }
    .displayOutfits a img {
      height: 300px;
      min-width: 100%; }

a:hover,
a:focus {
  -webkit-box-shadow: 5px 5px 5px 5px lightgrey;
  box-shadow: 5px 5px 5px 5px lightgrey; }
  a:hover .overlay,
  a:focus .overlay {
    display: block; }
    a:hover .overlay p,
    a:focus .overlay p {
      display: block;
      text-align: center;
      top: 50%;
      width: 100%;
      position: absolute;
      color: white;
      font-size: 25px;
      font-size: 1.25rem;
      margin: 0; }

#generate {
  display: none;
  margin: 25px 0;
  padding: 15px 0; }

#generate:focus {
  background: #377f7c; }

.displayOutfit p {
  font-size: 18px;
  font-size: 0.9rem;
  display: none;
  width: 100%;
  text-align: center;
  margin: 10px 0; }

@media (min-width: 600px) {
  .displayOutfits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .weatherDetails,
  h2 {
    font-size: 32px;
    font-size: 1.6rem; } }

@media (min-width: 900px) {
  .displayOutfits a img {
    height: 400px; } }

@media (min-width: 1200px) {
  .displayOutfits a img {
    height: 500px; } }

footer {
  text-align: center;
  background: #4d829f;
  color: white; }
